@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

body {
	font-family: 'Hanken Grotesk', sans-serif;
	font-size: 18px;
}

/** Colours */
:root {
	/* Primary */
	--light-red: 0 100% 67%;
	--orangey-yellow: 39 100% 56%;
	--green-teal: 166 100% 37%;
	--cobalt-blue: 234 85% 45%;

	/* Gradients */
	--light-slate-blue: 252 100% 67%;
	--light-royal-blue: 241 81% 54%;
	--violet-blue: 256 72% 46%;
	--persian-blue: 241 72% 46%;

	/* Neutral */
	--white: 0 0% 100%;
	--pale-blue: 222 100% 96%;
	--light-lavender: 241 100% 89%;
	--dark-grey-blue: 224 30% 27%;
}
